$white: #ffffff;
$shortcode: #2b2b2b;
$dark: #353535;
$ligth: #ffffff;
$req: #ff8a8a;
$link: #fff1b1;
$background: #b94b9b;
$gradient: linear-gradient(to bottom right, #9C27B0, #E91E63);


.wlnWrap {
    textarea, input[type=text], input[type=checkbox], input[type=password] {
        padding: 10px;
        border-radius: 4px;
        background: #ffffff;
        color: #171717;
        border: none;
        margin-bottom: 8px;
        vertical-align: top;
        box-shadow: none;
    }
    .button-secondary {
        padding: 5px 15px !important;
        height: 38px !important;
        vertical-align: top;
        border: 0px solid #fff;
        box-shadow: none !important;
        background: #5f0f58;
        color: #fff;
        margin-top: 1px;
    }
    .order_status_check {
        display: block;
    }
    .updated strong {
        color: #00b83f;
    }
    .wln-logo {
        vertical-align: middle;
        display: inline-block;
        img {
            width: 60px;
        }
    }
    .textReq{
        color: $req;
    }
    .form-table {
        th, td {
            color: $ligth;
        }
    }
    margin: 10px 20px 0 2px;
    max-width: 980px;
    background: $background;
    background-image: $gradient;
    padding: 10px 15px;
    border-radius: 3px;
    box-shadow: 3px 3px 3px rgba(27, 27, 27, 0.12);
    p, label, h1, h2, h3 {
        color: $ligth;
    }
    a {
        color: $link;
    }
    .shortcodeBadge {
        a {
            display: inline-block;
            padding: 3px;
            margin-right: 5px;
            background: $link;
            border-radius: 3px;
            margin-top: 3px;
            color: $shortcode !important;
            text-decoration: none;
        }
    }
}
