.shortcodeBadge,
.textCount {
  color: #2e7aec;
}

.textReq {
  color: #ff0000;
}

#WCLineNotifySettings textarea, #WCLineNotifySettings input[type=text], #WCLineNotifySettings input[type=checkbox] {
  padding: 10px;
  border-radius: 8px;
  box-shadow: 3px 3px 5px rgba(35, 40, 45, 0.07) !important;
}
